$cornflower-blue: #6074F1;
$white: #ffffff;
$martiniqueapprox: #2b2e4a;
$ebony-clay: #253343;
$bali-hai: #849DB3;
$black: #000000;
$selago: #F7F9FE;
$white: #ffffff;
$spindle: rgb(172, 192, 208, 0.2);
$botticelli: #CEDFE7;
