@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@mixin mat-card-theme() {
  .login-wrapper {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 40px !important;

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &__actions {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
