$primary: (
  50 : #eceefd,
  100 : #cfd5fb,
  200 : #b0baf8,
  300 : #909ef5,
  400 : #7889f3,
  500 : #6074f1,
  600 : #586cef,
  700 : #4e61ed,
  800 : #4457eb,
  900 : #3344e7,
  A100 : #ffffff,
  A200 : #f9faff,
  A400 : #c6cbff,
  A700 : #adb3ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
