.wrapper {
  background-image: url("https://raw.githubusercontent.com/antonysavache/smert/main/Screenshot%20from%202021-12-30%2010-03-45.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
